<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!--Please list those BizTalk Appliations, if their import fail then stop importing remaing Apps -->
    <add key="AppToRefer" value="MSIT EBIS,BizTalk EDI Application"/> 
    <add key="BizTalkAppToIgnore" value="RosettaNet,BizTalk.System,Microsoft.Practices.ESB,BizTalk EDI Application,BizTalk Application 1"/>
    <add key="WindowsServiceToIgnore" value="BTSSvc,RuleEngine,ENTSSO,NS$BAMAlerts,BAMAlerts,vsoagent"/>
    <add key="FoldersToCopyNoFiles" value="G:\Inbound_Data,G:\Outbound_Data"/>
    <add key="FoldersToCopy" value="G:\BizTalk\Projects, G:\BizTalk\Pipeline Components,G:\BizTalkAssemblies"/>
    <add key="CustomDllToInclude" value="*BTF_*.DLL,*.MSIT.*.dll,*.EAS.*.dll"/>
    <add key="RemoteRootFolder" value="C:\Temp\MigrationTool"/>    
    <add key="CertPass" value="Password"/>
    <add key="WebSitesDriveDestination" value=""/>
    <add key="FoldersDriveDestination" value=""/>
    <add key="ServicesDriveDestination" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
